* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    background-color: goldenrod;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*Topheader - COMPLETO*/

.topheader{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
    background-color: white;
}

.lefttopheader {
    display: flex;
    align-items: center;
}

.lefttopheader img{
    padding: 0px 15px;
    text-decoration: none;

}


.lefttopheader a{
    padding: 10px 25px;
    text-decoration: none;
    color: gray;

}

.righttopheader a{
    padding: 10px 25px;
    text-decoration: none;
    color: gray;

}

.righttopheader a:last-child{
    background-color:dodgerblue;
    color: white;
    margin: 0 15px ;
}

.topheader a:hover:not(.righttopheader a:last-child) {
    color: black;
    border-bottom: 1px solid blue;
    cursor: pointer;
}

.righttopheader a:last-child:hover{
    color: black;
}


/*Bottomheader - COMPLETO*/

.bottomheader{
    display: flex;
    justify-content: center;
    background-color: lightcyan;
}

.headercontainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    max-width: 1100px;
    
}

.headercontainer h1{
    font-size: 80px;
}

.bottombox{
    min-width: 100%;
    padding-top: 25px;
    display: flex;
}

.textbox{
    min-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.textbox p{
    margin-bottom: 30px;
}

.textbox a{
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: dodgerblue;
    text-decoration: none;
    color: white;
}

.textbox a[href="btn2"]{
    background-color: transparent;
    color: rgb(65, 62, 62);
    position: relative;
    right: 10px;
}

.textbox a:hover{
    color: black;
}

.textbox button{
    margin-top: 25px;
    border: none;
    background-color: transparent;
    font-size: 50px;
}

.textbox button:active{ /*Inserire lo scroll al click*/
    background-color: red;
}

.imgbox {
    min-width: 70%;
}

.imgbox img{
    max-width: 100%;
    margin-bottom: -70px;
}

.endingheader{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid slategray;
    background-color: white;
}


/*Main WIP*/

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100px auto;
    width: 90%;
    max-width: 950px;
}

.row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.checkbox{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.checkbox h1{
    font-size: 40px;
    margin: 50px 0;
}

.checkbox div span{
    padding-right: 45px;
}

.centralcol{
    width: 100%;
    margin-top: 50px;
}

.sezionetop{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.titoloheader {
    border-bottom: 1px solid lightgrey;
    padding: 10px 0;
}

.titoloheader h3{
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 14px;

}

.sezionetop .col :not(.titoloheader){
    padding: 0 8px;
}

.sezionetop .col h4{
    font-size: 22px;
    margin: 25px 0;
}

.prezzo{
    font-weight: bold;
    margin-bottom: 5px;
}

.schedacentrale span{
    color: gray;
}

.schedacentrale ul{
    margin-top: 30px;
    margin-left: 15px;

}

.schedacentrale ul li{
    margin: 10px 0;
}

.schedacentrale a{
    display: inline-block;
    margin: 20px 10px;
}

.schedacentrale  a{
    background-color: royalblue;
    display: inline-block;
    border-radius: 10px;
    padding: 15px; /*PERCHE NON PRENDE QUESTO VALORE?!*/
    margin-top: 40px;
}

.schedacentrale  p {
    text-decoration: none;
}

.schedacentrale  p a{
    background-color: transparent;
    color: blue;
}

.schedacentrale  p a:hover{
    color: black ;
}

.linea{
    border: 1px solid lightgrey;
    width: 25%;
    margin: 40px 15px;
}

.schedafooter ol {
    font-weight: bold;
    margin: 5px;

}

.schedafooter ol li{
    font-weight: lighter;
    margin-top: 20px;
    margin-left: 15px;
}

.schedafooter ol li:last-child{
    margin-bottom: 45px; 
}


/*sezione scheda centrale larga (da completare)*/

.sezionebottom{
    margin-top: 10px;
    width: 100%;
    background-color: seashell;
}


.sezionetop .col {
    width: 33%;
    border: 1px solid lightgrey;
    margin: 10px;


}

.sezionebottom .col {
    max-width: 100%;
    border: 1px solid lightgrey;
    margin: 30px 10px;


}

/*SEZIONE textimg main (COMPELTA)*/

.textimg{
    margin-top: 150px;
}

.mainimg{
    max-width: 70%;
}

.maintext{
    max-width: 30%;
    padding: 10px;
    
}


.mainimg img{
    width: 95%;
    padding-right: 25px;
}

.maintext{
    max-width: 30%;
    margin-top: 50px;
    margin-bottom: 10px;
}

.maintext a{
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    width: 60%;
    margin-top: 25px;
    padding: 10px;
    border: 1px solid gray;
}




.dropboxoperation{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dropboxoperation h1{
    width: 90%;
    text-align: center;
    margin-bottom: 80px;
    font-size: 40px;
}

.dropboxoperation .row{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.dropboxoperation .row .col{
    width: calc(100% / 3);

}

.dropboxoperation .col{
    text-align: left;
}

.dropboxoperation .col img{
    width: 100%;
}


.dropboxoperation .col h2{
    margin: 20px 0;
}

.dropboxoperation .col p{
    margin-bottom: 50px;
}

/*SEZIONE Main footer (COMPELTA)*/

.mainfootercontainer{
  
    margin: 100px auto;
    width: 90%;
    max-width: 950px;
}


.mainfooter{
    margin-top: 150px;
    width: 50%;
}

.mainfooter a{
    margin-top: 50px;
}


/*SEZIONE FOOTEr (COMPELTA)*/

footer{
    background-color: black;
    color: white;
    width: 100%;
}

.footercontainer{
    margin: auto;
    width: 75%;
}

.footerrow{
    display: flex;
    justify-content: center;
}

.footercol{
    width: calc(100% / 5);
    text-align: left;
    margin: 50px auto;
}

.footerow h3{
    font-weight: bold;
}

.footerrow ul li {
    list-style-type: none;
    font-size: 14px;
    padding: 5px 0;
}

.footerrow ul li:hover {
    color: gray;
    cursor: pointer;
}

.lingua{
    width: 100px;
    border-top: 1px solid whitesmoke;
    margin-top: 40px;
    padding: 40px 0;
    color: gray;
}

.fa-sharp-duotone{
    padding-right: 8px;
}

.fa-duotone{
    padding-left: 1px;
}
