* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    background-color: goldenrod;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*Topheader - COMPLETO*/

.topheader{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
    background-color: white;
}

.lefttopheader {
    display: flex;
    align-items: center;
}

.lefttopheader img{
    padding: 0px 15px;
    text-decoration: none;

}


.lefttopheader a{
    padding: 10px 25px;
    text-decoration: none;
    color: gray;

}

.righttopheader a{
    padding: 10px 25px;
    text-decoration: none;
    color: gray;

}

.righttopheader a:last-child{
    background-color:dodgerblue;
    color: white;
    margin: 0 15px ;
}

.topheader a:hover:not(.righttopheader a:last-child) {
    color: black;
    border-bottom: 1px solid blue;
    cursor: pointer;
}

.righttopheader a:last-child:hover{
    color: black;
}


/*Topheader - COMPLETO*/

.bottomheader{
    display: flex;
    justify-content: center;
    background-color: lightcyan;
}

.headercontainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    max-width: 1100px;
    
}

.headercontainer h1{
    font-size: 80px;
}

.bottombox{
    min-width: 100%;
    padding-top: 25px;
    display: flex;
}

.textbox{
    min-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.textbox p{
    margin-bottom: 30px;
}

.textbox a{
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: dodgerblue;
    text-decoration: none;
    color: white;
}

.textbox a[href="btn2"]{
    background-color: transparent;
    color: rgb(65, 62, 62);
    position: relative;
    right: 10px;
}

.textbox a:hover{
    color: black;
}

.textbox button{
    margin-top: 25px;
    border: none;
    background-color: transparent;
    font-size: 50px;
}

.textbox button:active{
    background-color: red;
}

.imgbox {
    min-width: 70%;
}

.imgbox img{
    max-width: 100%;
    margin-bottom: -70px;
}

.endingheader{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid slategray;
    background-color: white;
}

/*Bottomheader - COMPLETO*/

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.checkbox{
    display: flex;
    flex-direction: column;
    width: 950px;
}

.checkbox h1{
    font-size: 40px;
    margin: 50px 0;
}

.checkbox span{
    padding-right: 45px;
    margin-bottom: 50px;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 950px;
    
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;

}

.col {
    max-width: 33%;
    border: 1px solid gray;


}

.col h4{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid gray;
}

.scheda{
    padding: 25px;
}

.col h3{
    text-align: left;
}

.col li{
    list-style-type: none;
}

.centralrow{
    background-color: red;
    max-width: 100%;
}

.imgbox{
    max-width: 70%;
}

.textbox{
    max-width: 30%;
}